<div class="row">
  <div class="left-floater">
    <h4 class="header">Vestibulum viverra rutrum</h4>
    <p>
      Arcu amet pede sed porta velit quisque vitae leo nascetur egestas condimentum.
      Sed volutpat dapibus nec ultrices lorem sem amet neque. Mauris lobortis lacus.
      Nonummy tristique urna. Ipsum est donec.
    </p>
  </div>

  <div class="right-floater">
    <h4 class="header">Maecenas congue velit</h4>
    <p>
      Nullam aliquet dolor ante erat orci suspendisse nec rutrum varius inventore turpis.
      Facilisi venenatis sapien. Nulla congue ornare. Hac mauris sapien. Phasellus morbi a.
      Sed lorem aenean odio numquam erat faucibus eros tempor urna justo vitae. 
      A vitae id lectus vitae libero. A tortor elit dolor a lacinia.
      Lacus mollis mattis quis vel numquam inceptos morbi massa.
    </p>
</div>
