<div class="row article-list">
	<a href="#addArticle" class="button left-floater add-article" data-toggle>Add Article</a>
	<a href="#" class="button right-floater search-articles" data-toggle="searchArticles">Search Articles</a>





</div>

<div class="row">
	<div>
		<div class="off-canvas-wrapper">
			<div class="off-canvas position-left" id="searchArticles" data-off-canvas>
				<!-- Your menu or Off-canvas content goes here -->
			</div>
			<div class="off-canvas-content"  data-off-canvas-content>
				<p>I have nothing to do with the off-canvas on the right!</p>
			</div>
		</div>
	</div>
</div>
