<div class="row article-list">
	<a href="#addArticle" class="button left-floater add-article" data-toggle>Add Article</a>
	<a href="#searchArticles" class="button right-floater search-articles" data-toggle>Search Articles</a>
</div>
